body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}

header {
    background-color: black;
}

h1 {
    color: #eee;
    font-size: 28px;
    padding: 20px;
    margin: 0;
    text-align: center;
}

#navigation {
    background-color: gray;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#navigation ul li {
    display: inline;
}

#navigation ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: white;
    background-color: red;
}

.container {
    margin: 0 auto;
    margin-top: 10px;
    background-color: black;
}

h2 {
    color: white;
}

.project1 {
    background-color: grey;
    margin-top: 10px;
    height: 290px;
}

#project1img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 10px;
}

.project1 ul {
    list-style-type: none;
}

.project1 ul li a {
    padding-left: 10px;
    text-decoration: none;
}

.weather {
    background-color: grey;
    margin-top: 10px;
    height: 290px;
}

#weatherimg {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 10px;
}

.weather ul {
    list-style-type: none;
}

.weather ul li a {
    padding-left: 10px;
    text-decoration: none;
}

.quiz {
    background-color: grey;
    margin-top: 10px;
    height: 290px;
}

#quizimg {
    width: 250px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 10px;
}

.quiz ul {
    list-style-type: none;
}

.quiz ul li a {
    padding-left: 10px;
    text-decoration: none;
}

.project2 {
    background-color: grey;
    margin-top: 10px;
    height: 290px;
}

#project2img {
    width: 250px;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 10px;
}

.project2 ul {
    list-style-type: none;
}

.project2 ul li a {
    padding-left: 10px;
    text-decoration: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#footerText {
    color: black;
}
